@import url('../../ext/resources/css/ext-all.css');

.x-mask.splashscreen {
  background-color:#ffffff;
  opacity: 1;
}

.x-mask-msg.splashscreen, .x-mask-msg.splashscreen div {
  font-size: 16px;
  font-weight: bold;
  padding:30px 5px 5px 5px;
  border:none;
  background-color:transparent;
  background-position: top center;
  width:350px;
  height:180px;
  text-align: center;
}

.x-message-box .x-window-body .x-box-inner {
  min-height: 110px !important;
}

.x-splash-icon {
  background-image: url('../images/stellervision.png') !important;
  margin-top: -30px;
  margin-bottom:15px;
  height:180px;
  width:350px;
}


.key {
  background-image:url('../icons/key.png') !important;
}
.capslock{
  background:url('../icons/bullet_error.png') no-repeat center left;
  padding:2px;
  padding-left:20px;
  font-weight:700;
}